[2015-04-09 21:00] svendiedrichsen opened #3 "Typo in the Germany's federal state Baden-Württemberg"
https://sourceforge.net/p/jollyday/discussion/1076449/thread/47a733b5/#6111
Hello,

there is a typo in the name of the Germany's federal state Baden-Württemberg.
Instead of "Baden-Württenberg" it has to be "Baden-Württemberg" ("m" instead of "n").

Regards

[2015-04-09 21:03] #3 closed

[2015-04-09 21:22] svendiedrichsen opened #4 "XML data is missing Australia Day"
https://sourceforge.net/p/jollyday/discussion/1076447/thread/5440ccde/#3612

Version 0.4.7 data is showing
<tns:Fixed month="JANUARY" day="26" validTo="2007" descriptionPropertiesKey="NATIONAL_DAY"/>
2014-01-27 is non working day in Australia as a replacement day from
Australia day celebrated at 2014-01-26 (Sunday).
(see as of now: http://publicholidays.com.au/australia-day/)

[2015-04-09 21:25] #4 closed

[2015-04-09 21:34] svendiedrichsen opened #5 "Netherlands changes Queens day to King's day"
Hi,
I noticed that the NL holiday file contains Queensday. As of 2014, we will celebrate King's day. This is on the 26th of april.
So:
Fixed month="APRIL" day="30" descriptionPropertiesKey="QUEENS_BIRTHDAY"
Should be changed to
Fixed month="APRIL" day="26" descriptionPropertiesKey="KINGS_BIRTHDAY"
Thanks,
Arjan Lamers

[2015-04-09 21:37] #5 closed

[2015-04-21 12:14] provincjalc opened #9 "Slovenian holiday removed"
Hi,

Slovenia (si) has removed 2.may as holliday. Holliday was remove last year.

jollyday/src/main/resources/holidays/Holidays_si.xml

Greetings

[2015-04-21 14:26] shizawana opened #10 "Kings day in the Netherlands"
The Kings birthday in the Netherlands is celebrated on the 27th of April, except when this falls on a Sunday and it is celebrated on the Saturday instead.

It should be:
    `<tns:Fixed month="APRIL" day="27" validFrom="2014" descriptionPropertiesKey="KINGS_DAY">
    <tns:MovingCondition substitute="SUNDAY" with="PREVIOUS" weekday="SATURDAY"/>
    </tns:Fixed>`

[2015-04-22 05:20] provincjalc opened #11 "Unofficial holidays"
Hi,

it would be nice if we could check if selected day is holiday and specify weather we would like to check unofficial holidays or not.

Currently:
isHoliday = manager.isHoliday(calendar, countryPrefix);

New:
isHoliday = manager.isHoliday(calendar, countryPrefix, checkUnofficial);

Greating, Rok

[2015-04-22 06:09] provincjalc commented on #9
Sorry,

2.may is still holliday. 2. january is not holiday anymore.

Greetings

[2015-05-06 18:11] svendiedrichsen commented on #10
Fixed. Thanks for the info.

[2015-05-06 18:11] #10 closed

[2015-05-06 18:18] svendiedrichsen commented on #9
Fixed. Thanks for the info.

[2015-05-06 18:18] #9 closed

[2015-05-06 18:53] svendiedrichsen commented on #11
Implemented this feature. You can specify the HolidayType to check for isHoliday. NULL ignores this parameter.

[2015-05-06 18:53] #11 closed

[2015-05-14 15:06] paul-di opened #12 "Some questions. (want to contribute)"
1. Do you have some kind of gui calendar (web for example), backed by your library. It will make more simple to find errors in it
2. Do you concentrate only in holidays that are non-working days?
3. Does your application support short working days (non full working days)
4. Does your application detect every week holidays (saturday + sunday - most of countries, only suturday + short working day at

[2015-05-14 23:05] svendiedrichsen commented on #12
Hi paul-di,
1) I have thought about a web app to manage holidays but haven't found time to start.
2) there is an option to mark holidays as NON_OFFICIAL which is used for non-off holidays
3) the distinction between OFFICIAL and NON_OFFICIAL can be extended for short holidays
4) the API recognises all holidays irrespective if they fall on a weekend. They may have a moving condition if they do fall

[2015-05-21 15:11] SeriousSem opened #13 "Pfingstsonntag in Germany"
Hi,

this one should be "Pfingstsonntag" instead of "Pfingssonntag":
[holiday_descriptions_de.properties](https://github.com/svendiedrichsen/jollyday/blob/master/src/main/resources/descriptions/holiday_descriptions_de.properties#L233)

By the way thank you for your work,
Sem.

[2015-05-21 16:01] svendiedrichsen commented on #13
Thanks, will fix it.

[2015-05-22 14:08] #13 closed

[2015-05-26 16:37] pakmans opened #14 "RelativeToEasterSunday every not working"
I'm trying to define the thursday before easter sunday to be a holiday like this:
[code]
With no luck.  I have played with the values of the attributes without success.
What am I missing?

[2015-05-26 19:19] svendiedrichsen commented on #14
Unfortunately I don't see anything wrong. Besides maybe the missing property 'descriptionPropertiesKey' which is used when the clear name is to be read from the properties file.

The JAXB/XSD is somewhat picky about the order in which the holidays appear within the configuration. Could you post the whole holiday configuration? I can check it if you like.

Cheers,
Sven

[2015-05-26 20:15] pakmans commented on #14
Thank you for your quick response.
I tried you suggestion with same results.
I created a simple test case: https://github.com/pakmans/jollydate-issue-example
in case you have time to check it out.
I'm using version 0.4.9, by the way.

[2015-05-26 20:38] svendiedrichsen commented on #14
You are using the JULIAN chronology. Which means that you are actually referring to the 12th of april in 2015 as the easter sunday. When you subtract 3 days (by using -3) you end up with the 9th of april.

You should use GREGORIAN as your chronology. Then the test works fine.

[2015-05-26 21:28] pakmans commented on #14
I had tried JULIAN and GREGORIAN, but I was using 3 instead of -3!
It is working now, thank you for your generous help.

[2015-05-26 22:52] svendiedrichsen commented on #14
anytime, you are welcome.

[2015-05-26 22:52] #14 closed

[2015-06-05 13:57] svendiedrichsen commented on #12
Hi paul-di,
the first and most important contribution every one would highly appreciate is a proper russian holiday calendar.
Cheers, Sven

[2015-08-07 14:51] iservport opened #16 "License information"
Hello,

would you please include the licensing information in the project?

Regards,

Maurício Fernandes de Castro
www.iservport.com

[2015-08-07 15:00] eldevanjr commented on #16
Maybe include on README.md file, as was in .java files.

[2015-08-25 17:24] #16 closed

[2015-11-18 16:11] clempe opened #21 "Question"
Is there a way to get all supported countries and their provinces at run time?

[2015-12-05 17:53] #21 closed

[2016-03-14 20:22] #12 closed

[2016-06-29 17:08] jschrod opened #32 "Germany: Reformationstag as one-time public holiday"
2017 we will have Reformationstag (2017-10-31) as public holiday in all of Germany, but only that year.
I suppose one has to add a Fixed entry with validFrom and validTo at the top of Holidays_de.xml.
Is this already in the works or do you want a pull request?

Cheers, Joachim

[2016-07-06 18:39] svendiedrichsen commented on #32
Would be very nice of you if you could create a pull request for this. Thanks in advance.
Cheers, Sven

[2016-07-06 18:56] GeBeater commented on #32
Pull request #34 created.

[2016-07-06 19:02] #32 closed

[2016-07-06 22:09] jschrod commented on #32
OK; a pull request within 16 minutes, while I'm watching semifinals; beats me. You're both obviously no football fans. :-) :-)
Thanks a lot, Bernd and Sven!!

[2016-09-05 09:19] tobidon opened #36 "Correct Whitsun and Easter in Germany"
In Germany, Whitsunday ("WHIT_SUNDAY") and Eastersunday ("EASTER") are no holidays by law, except in the state of Brandenburg ("bb"). Please correct this.

[2016-09-05 12:09] tobidon opened #37 "Change german translation for Stephensday"
In Germany, the 26th of December officially is called "Zweiter Weihnachtsfeiertag" instead of "Stephanstag". Although not formally wrong, this name is not used widely. Please change this translation.

[2016-10-10 10:28] MoriTanosuke opened #38 "Is it possible to create a HolidayManager from a given Locale?"
I already [asked this question on StackOverflow][0], but already got a comment that the question might be offtopic... I hope this is the right place to ask this.

In my application the user can set her `Locale` from a list of available locales. The application then needs to determine if a given date is a holiday.

Here is my current code:

    public boolean isHoliday(Calendar cal) {
        Holid

[2016-10-23 16:54] #36 closed

[2016-10-23 16:54] svendiedrichsen commented on #36
thank you.

[2016-10-23 17:14] svendiedrichsen commented on #37
Thank you.

[2016-10-23 17:14] #37 closed

[2016-10-23 17:33] svendiedrichsen commented on #38
Hi,
generally the holiday API i working with holiday calendar XML files. There are a couple of examples which basically assemble holidays of a specific country. But this does not have be a country. There is also a holiday calendar named 'nyse' which has a list of holidays for the New York Stock Exchange. You can create your own XML file, put it in your apps classpath and use it with the API.
Cheer

[2016-10-23 17:40] #38 closed

[2017-01-07 10:53] opensource21 commented on #32
Any chance that a new version will be published? We now have 2017 and in 2018 the patch is useless.

[2017-01-10 22:51] svendiedrichsen commented on #32
released 0.5.2

[2017-03-08 11:16] fanste opened #43 "Chinese Holiday"
Is there a chance to get a chinese holiday XML file? Is the library even prepared to calculate those holidays?

Thanks.

[2017-03-08 19:44] svendiedrichsen commented on #43
There is a branch of jollyday from Soeren Strassfeld who tried to implement a chinese calendar. I haven't checked if he succeeded. Do you mind checking it? Come back any time an if it is ok I will try to merge it then.

Cheers and thanks in advance.

[2017-03-14 10:03] fanste commented on #43
I still hat no time to check the fork in my application, but the code doesn't look like it is completed.

I will come back as soon as I had the time to try it.

[2017-03-14 10:08] fanste opened #44 "Additional holiday in japan"
I've got the feedback from a japanese colleague that there is a new public holiday in japan.
`<tns:Fixed month="August" day="11" validFrom="2016" descriptionPropertiesKey="Mountain_DAY"/>`

Wikipedia is telling me, that it is valid from 2017. But I think the guy form japan should be right ;)

Is it possible to add it to both versions/branches?

[2017-03-16 00:40] svendiedrichsen commented on #44
I will take care of this and it should be possible to add it to both branches.

[2017-03-16 15:59] #44 closed

[2017-05-15 07:54] MaggiWuerze opened #46 "can not get instance with url"
The code-description on your site still states that it is possible to call
`HolidayManager hm = HolidayManager.getInstance(url);`
But the method is no longer available. Is there a new way to load a config.xml?

[2017-06-12 15:51] svendiedrichsen commented on #46
Yes, indeed. Try this `HolidayManager.getInstance(ManagerParameters.create(URL))`.

Cheers, Sven

[2017-06-13 11:54] #46 closed

[2017-07-03 11:26] robdunne-uom opened #48 "Easter Monday incorrect for UK, England."
Easter Monday returns false from``` isHoliday()``` for the UK.

[2017-07-10 16:45] robdunne-uom opened #49 "New Year's Day bank holiday incorrect for UK, England."

[2017-07-20 17:01] #49 closed

[2017-07-20 17:01] #48 closed

[2017-08-29 14:57] krichter722 opened #51 "NullPointerException when loading Configuration"
Did you notice https://sourceforge.net/p/jollyday/discussion/1076447/thread/a5c0ac85/?limit=25? It contains a fix which seems to be working well, but wasn't merged for > 6 months.

Issues should be handled in one place only. The most recent activities seems to be on github.com currently.

[2017-08-29 21:47] svendiedrichsen commented on #51
Classloading has just been redone. Please check out the current SNAPSHOT version.

[2017-08-29 22:19] svendiedrichsen opened #52 "Remove usage of jollyday.properties file"
Replace the usage and loading of implementation classes from properties file with default impl instantiation from code.

[2017-08-30 12:55] krichter722 commented on #51
I can confirm that the issue is fixed in v_0_5_2-27-ged7f922 (possibly earlier). I made a mistake with Maven's exclusion mechanism.

Consider doing something about the two issue trackers, although it's not the place to discuss this.

[2017-08-30 12:55] #51 closed

[2017-08-30 17:10] svendiedrichsen commented on #51
I will. Thanks for testing.

[2017-09-18 13:36] WideOcean opened #54 "How to check for regional holidays?"
As of now, I'm using the latest version (0.5.2).

Consider the following method which checks if the given date is a holiday:
[code]
The method is working fine for national-wide holidays (like New Year's etc.).
However, if I try to check for holidays for let's say "Hessen" ("he"), then it seems to **not** working.
I use the provided XML file and for "Hessen", there is an entry for the Christian hol

[2017-09-18 14:14] WideOcean commented on #54
Sorry, I had a misunderstanding of the code usage.
You need to look which hierarchy you want and then use the corresponding country code.
If I want "Hessen", I can call `.isHoliday(c, "he")`.
I was too confused by the code usage example with New York and New York City.

Can be closed.

[2017-09-18 14:14] #54 closed

[2017-09-26 01:39] brett-walker opened #55 "The description for Easter Tuesday is incorrect. It currently says Easter Thursday"
https://github.com/svendiedrichsen/jollyday/blob/8e823fc97410562cc5d90032bbeb95a1dd771c0e/src/main/resources/descriptions/holiday_descriptions.properties#L231

[2017-10-03 19:57] svendiedrichsen commented on #55
Thanks for the hint.

[2017-10-03 19:57] #55 closed

[2017-11-09 13:43] airfrank opened #56 "Austrian holiday"
Hi Sven,
I'm using the austrian holidays.
The xml of "Burgenland" contains one minor bug.
<tns:Fixed month="NOVEMBER" day="11" descriptionPropertiesKey="MARTINS_TAG"/>
"MARTINS_TAG" should be "MARTINS_DAY", otherwise it says description undefined.

Thanks for your great work!!
Frank

[2017-11-21 10:11] malex211 opened #57 "Good Friday is an official holiday in Hungary since 2017"
Since 2017 Good Friday, the Friday before Easter Monday is a public holiday in Hungary.

You should add `<tns:ChristianHoliday type="GOOD_FRIDAY" validFrom="2017" />` into `Holidays_hu.xml` file.

[2017-11-21 15:26] MenoData opened #59 "Where is the package "de.jollyday.config" on GitHub?"
Some classes like `EthiopianOrthodoxHolidayParser` refer to the package (for example to the class `de.jollyday.config.Holidays`) but I cannot find the package - neither on GitHub nor on downloaded zip-files from GitHub. I think, an open-source-project is supposed to contain all source code, or have I overlooked something?

Background is, I would like to contribute for example Hebrew holidays in th

[2017-11-21 16:33] MenoData commented on #59
Okay, it is dynamically created via xml-binding but I still see the disadvantage not to have reasonable good javadocs and source code navigation.

[2017-11-22 18:07] svendiedrichsen commented on #59
Classes under `de.jollyday.config` don't contain any logic. They are simple DTO classes which are used by JAXB for deserializing XML files.  They only carry generated javadoc and anntotations and will never be checked in as normal source code is. Including these into generated javadoc will not provide any insight into how the API work but will distract from working code.

[2017-11-22 21:35] MenoData commented on #59
I see your point. So that package is some kind of implementation internals. But I also still see the problem that other parts of public API refer to the package `de.jollyday.config`, for example:

http://jollyday.sourceforge.net/apidocs/de/jollyday/util/CalendarUtil.html#create-int-de.jollyday.config.Fixed-

IMHO, a public API should not refer to internals. This has first made it difficult for me

[2017-11-22 22:20] svendiedrichsen commented on #59
I'm open to any suggestions. Please feel free to fork and rework apropriately.

[2017-11-24 05:12] MenoData commented on #59
Okay, I will try to make some proposals in code form later (but probably rather in the begin of year 2018 when I can also contribute holidays in Israel).

[2017-11-24 18:46] #57 closed

[2017-11-30 21:37] soe78 commented on #43
I'm very sorry I "ignored" Jollyday for almost 2 years after playing around with it and then coming back and find my name in an open issue.
Three things kept me from making a pull request.
1. The calculations are based on the icu4j chinese calendar, so it would introduce another dependeny.
2. I am still unsure about Qingming - is it just 15 days after spring equinox or is its celebration based on

[2017-12-04 15:34] MenoData commented on #43
@soe78 My main problem with ICU4J is not that it forms another dependency but because its astronomical calculations are known to be not very precise. And this fact causes some chinese calendar dates in ICU4J to be wrong at least in historic times.

By the way, my hope that standard Java will ever realize this calendar is almost zero because it is not simple at all, requires strong astronomical bac

[2017-12-04 16:25] svendiedrichsen commented on #43
@MenoData @soe78 A perfect implementation would be imho a JDK `Chronology`  based one. Ideally as an contribution to the [Threeten Project|https://github.com/ThreeTen/threeten-extra].

[2017-12-04 16:45] MenoData commented on #43
@svendiedrichsen Unfortunately the calendar design of JDK (java.time.chrono) is not perfect. It is mainly designed for calendars with regular year-month-day-scheme and was never tested or discussed in more depth for calendars with different structures (calendar experts for Hebrew or Chinese were practically not involved).

So I fear that any hackish workaround in Threeten-Extra will also be broken

[2017-12-04 17:02] MenoData commented on #43
If a `java.time.chrono.ChineseChronology` is ever to be happen then it must be an Oracle project, not in Threeten-Extra because otherwise it would not be possible to parse or format any real Chinese date due to some special features around leap months or year representations. This task requires deeper changes to JDK-code which is not in the scope of Threeten-Extra.

But the good news is, my lib Ti

[2017-12-04 18:06] svendiedrichsen commented on #43
Looking forward to hearing from you.

[2017-12-05 17:17] MenoData commented on #59
By the way, have you noticed that Oracle seems to be willing to delete the `javax.xml.bind`-package from JDK? Java-9 has this information about the associated module:

[code]

Here an official link: http://openjdk.java.net/jeps/320

It would probably affect Jollyday so I thought it is good for you to know for the future.

[2017-12-05 17:33] svendiedrichsen commented on #59
Thank you. Good to know.

[2018-01-22 20:38] someshjainiitkgp opened #63 "Custom Holidays"
Hi,
  I am able to load my custom holidays, but it's not able to read the decription as the corresponding keys don't exist in holiday_descriptions.properties. I've provided the key in my custom properties but that doesn't seem to work either

[code]

[2018-03-01 11:14] opensource21 opened #65 "New German Holidays"
These days in Hamburg and Schleswig-Holstein there was a decision that the 31.10. will be a holiday named "Tag der Reformation" (beginning from 2018!). In Niedersachsen (lower saxony) there are similar plans but the final decisions isn't finished.

[2018-03-04 19:05] svendiedrichsen commented on #65
Just added reformation day for SH and HH to german holidays.

[2018-03-04 19:05] #65 closed

[2018-03-04 19:41] svendiedrichsen commented on #63
@someshjainiitkgp I'm afraid but there is currently no way to add new descriptions like you can add new holiday files.

[2018-03-04 19:41] #63 closed

[2018-04-03 13:23] Philipp-Borchert-ISH opened #69 "NL Calendar - Good Friday is not a public holiday"
Current behavior:
HolidayManager.isHoliday(LocalDate.of(2018, 3, 30), HolidayType.OFFICIAL_HOLIDAY); returns true for the Netherlands HolidayCalendar

Expected behavior:
It should return false, Good Friday is not an offical public holiday in the Netherlands - see https://en.wikipedia.org/wiki/Public_holidays_in_the_Netherlands

[2018-04-03 17:28] svendiedrichsen commented on #69
Thank you.

[2018-04-03 17:28] #69 closed

[2018-04-03 21:34] #59 closed

[2018-04-04 08:09] guidomedina commented on #52
Maybe I take this one, one idea would be to have a factory method on the `Enum` so that each `HolidayParameter` is instantiated using the such factory method.

WDYT?

[2018-04-04 21:47] svendiedrichsen commented on #52
I thought of getting rid of the instantiation by reading the class names from the properties file and having the Parameter class contain instances of the default impl classes. They may be overriden by using setters passing in new implementations.

[2018-04-04 21:52] guidomedina commented on #52
I'll take a look sometime around the weekend, my idea is to completely avoid reflection and just use some factory function, I'm thinking to add such factory function to `HolidayCalendar` Enum, so each `Enum` will require a factory function from which it will create everything it needs without needing reflection.

[2018-04-04 23:16] svendiedrichsen commented on #52
Sounds interesting. Looking forward to it.

[2018-04-08 09:02] guidomedina commented on #52
Ignore the previous comment, the issue was related to Java 9, as soon as I pointed the project to Java 8 everything worked.

[2018-04-26 08:01] andy-d2019 opened #71 "Jollyday failing in OSGI-Environments with a 1.8 JRE"
We use jollyday 0.5.4 in our Apache-Camel Routes on an Apache Servicemix/Karaf, this requires threeten-extra 1.3.2, which is supposed to run with a 1.8 JRE, but wrongly declares a dependency on Java-1.9 in its OSGI headers.

https://github.com/ThreeTen/threeten-extra/issues/97

This bug has been fixed in Threeten-Extra 1.3.2, but a modified version has not been released yet.

A jollyday release wi

[2018-05-06 22:03] manning opened #72 "Reimplement not using JAXB?"
Are you guys thinking of/open to changing the data loading to not use JAXB any more?

That dependency seems a bit of a nuisance now that various Java EE module including JAXB  have been removed from Java SE….

[2018-05-06 22:38] svendiedrichsen commented on #72
Sure. I have been toying with some different frameworks but I haven't thought it through though. The code currently heavily depends on the JAXB generated classes.

[2018-05-06 23:03] svendiedrichsen commented on #72
@manning Which framework would you suggest?

[2018-05-08 21:50] svendiedrichsen commented on #72
@manning I'm thinking of going with JiBX. Do you have any thoughts on this? It does some weird things with bytecode manipulation though. But I think this is only done during build time.

[2018-05-09 06:53] thackel commented on #72
I really don't see the point why the effort should be done moving away from JAXB. Its the standard and was part of the JDK.
The last update(release) of JAXB was in in Summer 2017.
JiXB's last update was in 2016 and does not seem to have active development. The main page even links to not existing codehaus pages.
Its does not even work with Java 9 where all should focus on Java 11 now B-)

[2018-05-09 16:09] svendiedrichsen commented on #72
@thackel Yes, JAXB is standard. But it will be thrown out of Java SE like all of the EE modules. If you are thinking about Jakarta EE and the Microprofile direction this is heading additionally, you won't always want to have JAXB on the classpath. JAXB is surely the way to go when doing SOAP but Jollyday just reads some XML files and populates simple Classes.

To have Jollyday be usable in the fut

[2018-05-11 11:08] mohamead opened #73 "Norwegian holidays"
The following date is not a public holiday in Norway:
31. December

The following date is a public holiday:
Pentecost (e.g. 20. May 2018)

Ref. https://www.timeanddate.com/calendar/?year=2018&country=18

[2018-05-11 14:02] #73 closed

[2018-05-14 07:44] andy-d2019 opened #75 "Missing holiday for german state hessen/hessia"
The easter-sunday should be counted as a holiday in the german states Brandenburg and Hessen, but jollyday only counts it for Brandenburg.

[2018-05-17 07:10] thackel commented on #75
Interesting topic :-)

In wikipedia they wrote:

https://de.wikipedia.org/wiki/Gesetzliche_Feiertage_in_Deutschland#%C3%9Cbersicht_aller_gesetzlichen_Feiertage

[2018-05-17 12:54] svendiedrichsen commented on #75
The official website of Hesse's ministry of internal affairs and sports does not state easter sunday to be an official holiday: https://innen.hessen.de/buerger-staat/gesetzliche-feiertage

Please see the section _Service_ on the right hand side.

[2018-05-18 08:39] andy-d2019 commented on #75
Removing them from Brandenburg is imho not a sensible option, as they are still official holidays and thus valid information would be lost.
E.g the use case im using jolliday for requires knowing when a holiday is irregardless of it being a sunday.

I was imho wrong in the case of easter sunday for hessia though after reading the sources you guys provided.

[2018-05-18 09:47] svendiedrichsen commented on #75
@andy-d2019 This can be closed than?

[2018-05-18 12:39] svendiedrichsen commented on #75
@andy-d2019 I wouldn't do that.

[2018-05-18 12:46] #75 closed

[2018-05-25 15:01] mohamead commented on #73
@svendiedrichsen can you gentlemen please release a version 0.5.6 of Jollyday to Maven Central? This is so that we in Norway can use Jollyday without custom xml..

[2018-06-01 11:48] fanste commented on #43
@MenoData as I've seen you have completed your work on the chinese calendar part in our lib Time4J. Could you tell us if and when your time allows you to contribute Chinese holidays to jolliday?

[2018-06-05 06:07] MenoData commented on #43
@fanste Yes, the Chinese calendar part of Time4J is now finished and ready to use. If we only speak about Java-8 then nothing will prevent a new pull request.

But some few things are still to do in context of modular Java-9 and OSGi. I hope to find some time for the necessary adjustments soon (mainly on the area of resource loading). Some work has already been done, for example [automatic module

[2018-08-09 07:53] MarkFried opened #76 "Init HolidayManager by Locale behaves different, depending on Locale.getDefault()"
See following snippet:

		ManagerParameter parameters = ManagerParameters.create(Locale.GERMAN);
		HolidayManager mgr = HolidayManager.getInstance(parameters);

		Set<Holiday> holidays = mgr.getHolidays(2018);

The resulting set is correct as long as the default locale of the system is GERMAN, but wrong as soon as it is run with a different system/default locale.

The result should always be the g

[2018-08-10 15:08] gitburr opened #77 "java.lang.IllegalStateException: Cannot create manager class de.jollyday.impl.DefaultHolidayManager"
Hello,

I have been using jollyday in my project for a couple of years now without incident. However, during a recent test when attempting to upgrade our OS from ubuntu 16.04 LTS to 18.04 LTS, we ran into the following issue:

Receive the following exception when executing on ubuntu 18.04 LTS, although the exact same code works when running under ubuntu 16.04 LTS:

[code]

Please see the following

[2018-08-10 15:37] gitburr commented on #77
Sorry, this can be disregarded.

For anyone else who may run into this, after I did some more digging I discovered that installing openjdk-8-jdk on ubuntu 18.04 LTS does not update the symlinks for the default jre ("java") as it does for the jdk ("javac"). The jre was still pointing to java 11 by default. It seems the jaxB dependencies are not included with java 11, and hence the failure.

Here wa

[2018-08-10 15:37] #77 closed

[2018-08-20 15:17] svendiedrichsen commented on #76
I will look into this. Thanks.

[2018-08-22 02:26] ramsestom opened #78 "Removing a parent holiday from a subconfiguration"
Is there a way to define, in a subconfiguration, that an Holiday in the parent configuration shouldn't be an Holiday for this subconfiguration? For example, if you take the city of berkeley, in California USA, according to wikipedia (https://en.wikipedia.org/wiki/Public_holidays_in_the_United_States#Berkeley,_California)  Cesar Chavez Day is not an Holiday whereas it is for the rest of the Califor

[2018-08-31 16:34] opensource21 opened #79 "New German Holidays"
31.10 "Tag der Reformation" (beginning from 2018!) is holiday in
Brandenburg, Mecklenburg-Vorpommern, Sachsen, Sachsen-Anhalt, Thüringen, Bremen, Hamburg, Schleswig-Holstein und Niedersachsen.

[2018-08-31 16:35] opensource21 opened #80 "Label Issues"
I make a test with german translation
3.10. must be "Tag der Deutschen Einheit" not "German Unity Day"

[2018-08-31 18:37] #79 closed

[2018-08-31 18:44] svendiedrichsen commented on #78
No, currently the there is no way to remove holidays in subconfigurations. You could only remove it from the parent and add it to al subconfigurations that have it. Which may mean to have to create new subconfigurations and add it to all of them. Sorry.

[2018-08-31 18:58] opensource21 commented on #80
Weird: if I run the test

[code]
In my project it fails. If I check out the source code everything is fine :-/
Perhaps something with spring? Any suggestions are welcome.

[2018-08-31 19:27] opensource21 commented on #80
A wrong properties-file was in my classpath, because I had made a quickfix in an older version. Sorry for the trouble.

[2018-08-31 19:27] #80 closed

[2018-09-06 20:01] svendiedrichsen commented on #76
The method `ManagerParameters.create(Locale.GERMAN)` can't find a country from the provided Locale. It subsequently uses the system default locale. You could fix this by using `Locale.GERMANY` or the the class `HolidayCalendars.GERMANY`. I will make the code fall back to the language.

[2018-09-06 20:04] #76 closed

[2018-10-22 14:24] joakim78 opened #82 "Too extensive permission required"
We are using Jolliday in our current project. We are also required to run our application with the Java security manager enabled. That's why we ran into an unexpected `AccessControlException` because of Jolliday. Our customer demands to point out all permissions that are required by our application. Because of the security driven application management of our customer, we are not allowed to use wi

[2018-10-22 14:36] #82 closed

[2018-10-22 14:39] joakim78 commented on #82
Nevermind. This was already fixed in v0.5.4.

[2018-10-31 18:10] svendiedrichsen commented on #71
Version 0.5.7 release using updated dependency version.

[2018-10-31 18:10] #71 closed

[2018-11-15 10:05] yogi21jan opened #83 "LocalDateBackwardHandler doesn't work properly"
Let's say 1/11/2018 and 2/11/2018 is a custom holiday and 3/11/2018 and 4/11/2018 are a holiday. I am trying to calculate a business date one day before 5/11/2018. But I am getting the next business date as 5/11/2018. Although I have instantiated LocalDateBackwardHandler. Problem is adjustDate(), which is implemented in LocalDateForwardHandler. LocalDateBackwardHandler doesn't have its own adjustD

[2018-11-15 10:12] svendiedrichsen commented on #83
@yogi21jan I'm not aware of these LocalDateForwardHandler and LocalDateBackwardHandler classes. Are you sure you are posting this in the correct project? Can you provide same sample code to highlight the problem?

[2018-11-15 11:00] svendiedrichsen commented on #83
No problem.

[2018-11-27 09:08] dwuehrer opened #84 "Austrian holidays"
Hello,

this is a bit complicated.

The resource file for Austrian holidays
https://github.com/svendiedrichsen/jollyday/blob/master/src/main/resources/holidays/Holidays_at.xml
lists Christmas Eve (24 Dec) and New Years Eve (31 Dec) as official holidays.

However:
https://www.arbeiterkammer.at/beratung/arbeitundrecht/Arbeitszeit/ArbeitszeitundRuhepausen/Feiertagsruhe.html#heading_Diese_Feiertage_st

[2018-12-02 16:19] svendiedrichsen commented on #84
Sure. I'm actually not an expert on the holiday subject. Especially not when it comes to holidays abroad.

[2018-12-03 10:22] dwuehrer commented on #84
Great! Thank you.

[2018-12-05 20:09] svendiedrichsen commented on #84
Merged your PR. Thank you.

[2018-12-05 20:09] #84 closed

[2019-01-01 12:33] buchen commented on #72
@svendiedrichsen Any updates on the plan to move away from JAXB?

Let me share my experience using Jollyday in an [OSGi-based RCP application](https://github.com/buchen/portfolio): I want to be able to run my application on Java8 and Java11 (because I have no idea what Java version users have locally installed). In principle I have it running, but I had to create a OSGI system extension (for JAXB

[2019-01-02 13:46] svendiedrichsen commented on #72
@buchen Well, not really updates. I'm still convinced to do it but haven't had time. I will do it but am not quite sure which framework to go with. And I would like to keep the JAXB way for those who love it. So I will probably have to make multiple modules.

[2019-01-09 20:31] krichter722 opened #88 "Allow build on and usage with OpenJDK 11"
Building `jollyday` with OpenJDK 11 fails due to

[code]

experienced with v_0_5_7-12-ge359ee2

[2019-02-03 13:45] meingraham opened #89 "US Holidays XML"
I inspected the XML file for the US Holidays over on the SourceForge page. Some of the Federal holidays need to be updated. I am happy to make the updates... but I don't know where... or how. Now that the code is here on GitHub, have the holidays files moved too? If so, I did not locate them. If the XML is still over on SourceForge, how do I provide updates? I could download the XML and make the n

[2019-02-03 17:08] svendiedrichsen commented on #89
Hi Mike,
the whole project has moved to github. Including the holiday xml files. To fix the the US holidays you can fork this repo and create a branch on your fork. There you can fix the holidays and fix/create tests for it. After you have done this you can commit and push your changes to your repo and create a pull request. I will have a look and merge it afterwards.

Thanks in advance.
Cheers, S

[2019-02-03 19:20] #89 closed

[2019-02-09 15:47] ryan-cal opened #93 "Question about adding new countries."
There are a few countries I would like to contribute to this library. What is the process around that?

Ref:
https://calendarific.com/holidays/2019/EG
https://calendarific.com/holidays/2019/FJ
https://calendarific.com/holidays/2019/MF

[2019-02-10 11:28] hakan42 commented on #93
Hi,

you fork this repository, create a file similar to the ones in src/main/resources/holidays/, . for example https://github.com/svendiedrichsen/jollyday/blob/master/src/main/resources/holidays/Holidays_in.xml for India, and create a pull request to add it to the repository.

If you are not comfortable with git and branches and pull requests and so on, you can just write the XML file, attach it

[2019-02-10 11:28] hakan42 commented on #93
Also, this reminds me, I alway wanted to add public holidays in Turkey to this list :)

https://calendarific.com/holidays/2019/TR

[2019-02-11 20:42] svendiedrichsen commented on #93
@ryan-cal Please setup a pull request. We can work it out together then.

[2019-02-11 20:42] svendiedrichsen commented on #93
@hakan42 Please feel free to file a pull request too.

[2019-02-12 19:23] hakan42 commented on #93
Just did so, https://github.com/svendiedrichsen/jollyday/pull/94

[2019-02-14 11:02] svendiedrichsen commented on #93
@ryan-cal Pull request #94 is a good example on how to add a country.

[2019-02-18 08:21] bbottema opened #95 "Documentation is way behind"
The only documentation on usage I can find is on SourceForge and it uses examples using deprecated methods.

I'm not sure how to use the library now as intended, not using deprecated methods. Or did I miss more up-to-date documentation somewhere?

[2019-02-19 14:02] bbottema opened #96 "Pentecost (Pinksteren) is missing in the NL holiday xml"
[Pentecost (Pinksteren)](https://en.wikipedia.org/wiki/Pinkster) is missing in the NL holiday xml. That is every Sunday before Whit monday (sometimes called Whitsunday), Whit monday being the second day of Pentacost.

[2019-02-27 16:14] M-Kreutzmann opened #98 "New release (0.6.x)"
Hey @svendiedrichsen

is there a new release planned soonish? I would very much like to use new features implemented since 0.5.7.

greetings

[2019-02-28 14:54] svendiedrichsen commented on #98
I'll soon release 0.5.8.

[2019-02-28 14:54] #98 closed

[2019-02-28 14:58] M-Kreutzmann commented on #98
Thank you!

[2019-02-28 15:04] svendiedrichsen commented on #96
Will be fixed in 0.5.8.

[2019-02-28 15:04] #96 closed

[2019-03-03 14:32] svendiedrichsen commented on #95
I have started to document in this repos WIKI. I haven't come really far but I will improve on it constantly. You are very welcome to participate.

[2019-03-03 14:34] svendiedrichsen commented on #88
I have created a branch and will make this lib be buildable with Java 11. I'm not quite sure how to provide a release compatible with Java 11 though.

[2019-03-04 10:19] andy-d2019 opened #99 "Official Holiday missing for Berlin: International Women's day (08.03)"
Since February 2019 the "Internationaler Frauentag" has been declared as an official Holiday for the state Berlin.

[2019-03-04 10:27] andy-d2019 commented on #99
Nevermind this is included in the latest release.

[2019-03-04 10:27] #99 closed

[2019-03-06 22:30] svendiedrichsen commented on #88
@krichter722 I have adapted the project ot be buildable with java 8 and 11. Do you have any suggestion on how to have a single release being usable with both java versions?

[2019-03-07 20:07] krichter722 commented on #88
There're different stages of Java 8 to 11 migration/coexistence (note the difference between source and target):

* Use Java 8: you can't run Java programs and libraries which are compiled with binary target 11. If you need to be able to run with Java 8 you need to enforce Java 8 source and target during compilation which is possible with JDK 11.
* Use Java 11 to run: Java 11 runs both Java progra

[2019-03-11 20:15] svendiedrichsen commented on #88
After some trial and error I found out that when building with JDK 11 you cannot build with source 1.8 if module-info.java is used. Additionally if you build with source 11 you must use target 11.

[2019-03-11 20:15] #88 closed

[2019-03-11 20:40] krichter722 commented on #88
`module-info.java` has been introduced in Java > 8, so the 4th point of my explanation applies.

[2019-04-09 05:50] Netskeh opened #102 "Multiple HolidayManager objects using different Holiday sources"
Hey,

I was wondering if it is possible to have 2 (or more) different HolidayManagers objects. So far I only found the HolidayManager#getInstance(...), which heavily suggests it works as a Singleton.
My use-case involves taking care of Holidays of different countries (or states depending of the specific country)
Did I miss anything or is jollyday not ready for that just yet?

If multiple objects a

[2019-04-09 08:37] thackel commented on #102
Why do you think you can not create multiple HolidayManagers with
`HolidayManager.getInstance(managerParameter)`?

I am doing this with this method.

[2019-04-09 08:57] Netskeh commented on #102
this is awkward. You are absolutely right. The error must be hidden in my facade somewhere...
Thanks your comment gave me the incentive of testing it on a fresh project.

[2019-04-09 08:57] #102 closed

[2019-04-09 09:04] Netskeh commented on #102
and a very stupid one at that...

[2019-05-16 21:19] mortensimon opened #106 "PALM SUNDAY missing?"
Hi, I have checked the Norwegian holidays and can confirm that those are correct, except for the missing Palm Sunday, a week before Easter. I was not able to understand how to add it, since I could not find that day anywhere in any xml. It would be great if it could be added, since it would make Norway holidays complete. Thanks in advance.

[2019-07-16 16:06] ShenJack opened #109 "ClassLoader returned from ClassLoadingUtil cannot find .properties file by calling getResoure()"
I'm currently developing plugin for Jenkins, and the classloader returned from ClassLoadingUtil is the classloader of the current thread, I'm wondering if some system(like Jenkins) would customize a classloader for the thread.

While the class loader return by HolidayCalendar.class.getClassLoader() works normally.

[2019-07-18 12:43] ShenJack commented on #109
Sorry, it's just my usage error, I succeed when switch the classloader of current thread to the CalendarManager's classloader.

[2019-07-18 12:43] #109 closed

[2019-07-22 11:56] mohamead commented on #106
Hi @mortensimon,
To my knowledge "Palm Sunday" is not a public holiday in Norway:

Ref -> https://www.timeanddate.com/calendar/?country=18
Ref -> https://www.timeanddate.com/holidays/norway/palm-sunday
Ref -> https://lovdata.no/dokument/NL/lov/1995-02-24-126.91.351062.620576d570

This is the reason why this has not been added..

[2019-07-22 12:20] mohamead commented on #106
Hi @mortensimon,
To my knowledge "Palm Sunday" in it self is not a public holiday (red day) in Norway:

Ref -> https://www.timeanddate.com/calendar/?country=18
Ref -> https://www.timeanddate.com/holidays/norway/palm-sunday

This is the reason why this has not been added..

[2019-07-22 14:11] mohamead commented on #106
Hi @mortensimon,
To my understanding "Palm Sunday" in it self is not a public holiday (red day).

Ref -> https://lovdata.no/dokument/NL/lov/1995-02-24-12

[2019-07-23 05:55] mortensimon commented on #106
I stand corrected - I agree. Thanks for the great work!

[2019-07-23 05:55] #106 closed

[2019-08-06 09:59] wborn commented on #72
Although xstream still works with Java 11, it may not work with future Java versions. It depends on using reflection in deprecated ways that may be removed in future Java versions, see https://github.com/x-stream/xstream/issues/101.

[2019-08-06 19:28] cweitkamp opened #110 "Feature Request: Expose country descriptions for external usage"
I would like to discuss the idea to expose country descriptions for external usage.

The openHAB framework provides a dynamically - sometimes UI based - way of configuring internal services. One of them is based on the Jollyday library. Currently we download and import the properties file from this repository and parse it on our own to make use of the available country descriptions and populate se

[2019-08-20 08:04] burberius opened #116 "Illegal us of internal JDK package"
I got the following errors when trying to run a test with openJDK 12. I guess the _com.sun.xml_ package was removed.

[code]

[2019-09-13 08:29] MartinSchmitzDo opened #117 "Is there a way to access all State Holidays?"
Hi everyone,

is there anyway to access all state holidays of a given country? I would love to do something like

[code]

i've not found a way to do this, since there is not such a function like 'getSupportedStates() or so. Did i miss something?

Best,
Martin

[2019-09-16 12:02] thackel commented on #117
Use ```holidayManager.getCalendarHierarchy().getChildren()``` which contains the states.
E.g. ```children.getDescription()``` contains the state and its childen all the holidays related to this state.

[2019-09-18 14:52] MartinSchmitzDo commented on #117
Thanks, worked like a charm!

[2019-09-18 14:52] #117 closed

[2019-09-19 09:27] burberius commented on #72
What about using Jackson for the XML binding? I think it has the biggest distribution currently and is also used in Spring for example.

Another way to generate the Classes from the XSD is described here: https://blog.viadee.de/jaxb-und-soap-in-java-11

[2019-09-19 20:57] svendiedrichsen commented on #116
Thanks for the hint. I'm working on modularizing jollyday to allow for different XML parsing framworks to be used. Please be patient as I'm doing this in my spare time.

[2019-09-23 06:59] burberius commented on #116
Why do you want to modularize it? For Android and normal systems? You can also use jackson-databind on Android, according so several posts I found.
The JXB annotated class could be generated (at compile time) with xjc as described in the article I mentioned and then use those classes with Jackson Databind.

[2019-09-23 18:17] svendiedrichsen commented on #116
I have had several different opinions on the usage of different frameworks for parsing XML.

Some cannot use JAXB classes (like on Android) or they don't want to add JAXB dependencies (for JDK >= 11). For those I think there should be an alternative without JAXB. This includes the generated classes as they carry JAXB annotations.

Some already have JAXB on their classpath and don't want additional

[2019-09-23 19:11] burberius commented on #116
I would suggest not to generate the classes at all but code them, I guess they will change rarely. So you don't have the JAXB annotations and are neutral for the binding implementation.

Then increase the JDK version to 9 and use Java modules for the implementation, as described here: https://labs.consol.de/development/2017/02/13/getting-started-with-java9-modules.html

So you have one maven modul

[2019-09-23 19:39] svendiedrichsen commented on #116
thanks for your offer. i'll get back to you if i need some help then.

[2019-09-24 11:43] hakan42 commented on #116
I know we are a little bit behind the update schedule, but OpenHAB (as a consument of this library) still depends on Java 8...

[2019-09-24 13:19] svendiedrichsen commented on #116
I'll keep it Java 8 compatible.

[2019-10-06 17:22] Mechtilde opened #120 "Building Jolliday v_0_5_9"
Hello
I tried to build jollyday myself to package it for the Debian repository. I need it as a dependency of JVerein. I also want to package JVerein for Debian.

I get the following message: build/jollyday-0.5.9/src/main/java/de/jollyday/datasource/ConfigurationDataSource.java:[19,26] package de.jollyday.config does not exist

If I look deeper into the source code I can't find the directors src/ma

[2019-10-06 19:28] svendiedrichsen commented on #120
You must build Jollyday using maven. The missing package and its classes will be generated by maven and packaged during build into the target jar file.

[2019-10-06 19:42] Mechtilde commented on #120
Hello

I build Jollyday with maven.
Where can I get the sources for it? Then I can build it before I build Jollyday.

Kind regards

[2019-10-06 20:00] svendiedrichsen commented on #120
The missing classes will be generated from Holiday.xsd file. Which is in the sources. The pom.xml file contains a section for the jax-maven-plugin which calls _xjc_ tool to generate the sources. There seems to be a problem with the _xjc_ tool on your machine. Which JDK are you using?

[2019-10-09 08:23] svendiedrichsen commented on #120
@Mechtilde Did you make any progress on this?

[2019-10-09 10:57] Mechtilde commented on #120
Hello,

to build the missing classes frm Holiday.xsd file I need the package
jax-maven-plugin which isn't packaged in Debian.

So I have to package it. I needs two further packages which I already
packaged.

so I need some more time to get a result.

Kind regards
--
Mechtilde Stehmann
## PGP encryption welcome
## F0E3 7F3D C87A 4998 2899  39E7 F287 7BBA 141A AD7F

[2019-10-09 11:28] svendiedrichsen commented on #120
@Mechtilde jax-maven-plugin is a maven plugin. You don't need to package this. It will be downloaded by maven when needed.

[2019-10-09 12:15] Mechtilde commented on #120
Hello Sven,

Am 09.10.19 um 13:28 schrieb Sven Diedrichsen:

It is not allowed to download something from external.

All software  you need to package must be available as a Debian package.

The build process don't have internet access.

Kind regards

--
Mechtilde Stehmann
## Debian Developer
## PGP encryption welcome
## F0E3 7F3D C87A 4998 2899  39E7 F287 7BBA 141A AD7F

[2019-10-09 16:45] svendiedrichsen commented on #120
Good luck, @Mechtilde .

[2019-10-13 14:38] Mechtilde commented on #120
I use OpenJDK 11.

I build jax-maven-plugin successfully; but building Jollyday failed with the same error message.

Which changes are also needed to use jax-maven-plugin (https://salsa.debian.org/java-team/jax-maven-plugin).
i can also provide the binary *.jar if desired.

Kind regards

[2019-10-13 17:00] Mechtilde commented on #120
Hello,
 I did a little bit progress with a lot of trickery.

Now I looked for javax.xml.bind.annotation which should be shipped by Java 8. Now I have to use Java 11.
I need it in src/main/java/de/jollyday/config/org/example/holiday/ChristianHoliday.java:11 ff.

[2019-11-04 09:25] burberius commented on #120
The current version of Jolliday can't be built on newer JDK version, see also #116

[2019-11-10 07:18] Mechtilde commented on #120
Hello

Am 04.11.19 um 10:25 schrieb Jens Oberender:

Does it mean it doesn't build with java 1? Or is it the warning only for
version >=12?

Kind regards

--
Mechtilde Stehmann
## Debian Developer
## PGP encryption welcome
## F0E3 7F3D C87A 4998 2899  39E7 F287 7BBA 141A AD7F

[2019-11-11 07:36] burberius commented on #120
I just packaged it with openJDK 11 without errors!
There were just some warnings in the tests about classloader.
I event set the java version to 11 in the pom and it still built!
So looks like there are only problems with >=12

[2019-12-21 12:38] Mechtilde commented on #120
Hello
is there a timeframe to be buildable with Java >= 11?

Or is there a workaround?

I want to build JVerein which depends on Jollyday.

[2019-12-22 17:06] svendiedrichsen commented on #120
As you can see from the comment of @burberius Jollyday is buildable with JDK 11.

[2020-01-13 16:58] arobie1992 opened #128 "Support for reloading of holidays during application life"
This isn't so much of an issue as a request if it's possible.

I got the HolidayManager working with a custom XML. From there, I'm looking into a way to create a new HolidayManager while the application is still running to prevent having to redeploy, and the two issues I'm running into are writing the new file from somewhere and validating the content.

For the writing, we're using Docker/Kubernet

[2020-01-23 22:54] svendiedrichsen commented on #128
Hi @arobie1992 ,
that is some lengthy description text of yours. I hope I have understood what you would like to achieve.

First as far as I see it you are mixing development and production requirements.

In my opinion you should first in development make sure to create a valid holiday XML file. Thus you should have a build which may use Jollyday as a library to test this file by using it. Invalid

[2020-01-24 13:50] arobie1992 commented on #128
Hi @svendiedrichsen, thanks for getting back to me. What I'm doing currently is the XML is in src/main/resources and Spring loads it in as necessary. Unfortunately, the CI/CD pipeline isn't doable at the moment; we don't have enough automation for the managers to be comfortable with it (hopefully soon).

What I had been thinking in the meantime was to give a webpage where an admin user could edit

[2020-01-24 13:50] #128 closed

[2020-02-11 09:48] vbrandl opened #131 "Get exhaustive set of holidays for country"
Is there a way to exhaustively check if a day is a holiday in any of the sub hierarchies of a calendar?

I'm trying to load all sub calendars and pass the `set.toArray()` as `args` to the `isHoliday` method:

[code]

This does not seem to work. I could try to generate every possible hierarchy path and check for every path if a date is a holiday but this seems overkill...

If there is no feasible w

[2020-02-16 00:28] udo1toni opened #132 "[question] how to configure advent?"
I'm wondiring how to write the correct configuration for advent:
Fourth Sunday before December, 25.
Third Sunday before December, 25.
Second Sunday before December, 25.
First Sunday before December, 25.

Any hints?

[2020-02-16 15:05] svendiedrichsen commented on #132
In my opinion Jollyday is for tracking off-work holidays. German advents aren't holidays and they are always on sunday. Thus they are off-work by definition.

[2020-02-17 19:32] int5749 commented on #132
That's probably also the reason why easter-sunday is not defined as holiday? Even it's holiday and calculated as this day is required as reference for many other but it's always a sunday.

Nevertheless this action can be used to define othere and question is about defining personal special day, like a birthday etc. Hopefully someone can advise how to go back from a known day to first, sencond, etc

[2020-02-18 13:39] xHoang opened #133 "Adjusting Marine/Navy/Sea public holiday in Japan"
Currently the code for the marine day JPY holiday is put as June 20th. This is no longer the case and is instead on the third monday of July. How do I implement this functionality into https://github.com/svendiedrichsen/jollyday/blob/master/src/main/resources/holidays/Holidays_jp.xml

Thanks

[2020-02-18 17:54] AlexBroadbent commented on #116
@svendiedrichsen Is there any movement on this? I get the same error now while running `0.5.10` on JDK 12.

[2020-02-19 11:01] svendiedrichsen commented on #131
@vbrandl You are using the keys as is. But you need to use them as a path segment and add the structure up to the current point.
Imagine the calendar for germany having a structure like

de -> hh
     -> sh

The list of structure lists to check would be [[de],[de,hh],[de,sh]].

[2020-02-19 22:16] svendiedrichsen commented on #116
@AlexBroadbent No, no progress so far. But you are heartly welcome to take this on.

[2020-02-19 22:23] svendiedrichsen commented on #133
@xHoang You could probably do it like this:
`<tns:FixedWeekday which="THIRD" weekday="MONDAY" month="JANUARY" validFrom="1986" descriptionPropertiesKey="MARTIN_LUTHER_KING"/>`

[2020-02-23 19:08] int5749 commented on #132
Hi all,
I looked though many of the holiday Examples as well as through embedded Parser Files.
Finally I made it => FixedWeekdayRelativeToFixed <= this is the right parser for this ;-)

[2020-03-02 17:56] int5749 opened #135 "Holiday translation ignored from holiday_descriptions_de.properties"
Hi all,
I've added Christmas_eve as personal holiday to my holiday-de.xml and this is working perfectly and even more it's translated properly from holiday_descriptions_de.properties

But I've added few more personal holidays and like to continue with English in XML to have it common. Therefore I've added proper translation to holiday_descriptions_de.properties which is ignored. Is this already kn

[2020-03-02 18:58] svendiedrichsen commented on #135
@int5749 It's pretty impossible to advise anything if I can't see what you have done. As you have already stated translations are generally picked up properly. Did  you try to debug to see where this fails?

[2020-03-02 19:29] int5749 commented on #135
@svendiedrichsen thanks for very prompt action
Unfortunately I have no idea how to debug further as it's my names are simply not looked up.
My entry in *.xml
`        <tns:FixedWeekdayRelativeToFixed which="FIRST" weekday="SUNDAY" when="BEFORE" descriptionPropertiesKey="FOURTH_ADVENT" localizedType="OFFICIAL_HOLIDAY">
            <tns:day month="DECEMBER" day="25"/>
        </tns:FixedWeekdayRelat

[2020-03-02 19:33] svendiedrichsen commented on #135
The first thiing I see is that you don't work with Jollyday on its own but you are using some software which uses Jollyday. That way I can't tell whats going on. I can only advise you to construct an example without anything else but Jollyday and see if it gets picked up. Your software may contain some other description properties file which gets picked up before the one you are using. or the othe

[2020-03-02 19:35] svendiedrichsen commented on #135
Or you might want to ask this question at the project of the software you are using. They may be more qualified to answer why your changed properties does not get picked up.

[2020-03-02 19:40] int5749 commented on #135
@svendiedrichsen I thought this project integrates this funktion into OpenHab? Am I wrong? Than for sure I should raise this question to OpenHab Community/Git

[2020-03-02 19:42] svendiedrichsen commented on #135
@int5749 This project is only responsible for the Jollyday library. Integration of Jollyday is done by project which uses it.

[2020-03-02 19:43] int5749 commented on #135
@svendiedrichsen OK, than apologies to bother you and I will contact OpenHab Git ;-)

[2020-03-02 19:43] #135 closed

[2020-03-02 19:45] svendiedrichsen commented on #135
No problem. At least I could help with some directions. ;-)

[2020-03-02 20:03] svendiedrichsen commented on #135
@int5749 Following this implementation https://github.com/openhab/openhab-core/blob/master/bundles/org.openhab.core.ephemeris/src/main/java/org/openhab/core/ephemeris/internal/EphemerisManagerImpl.java it could be that OpenHAB is not using the german locale as you would expect.

[2020-03-03 19:09] lucasrafagnin opened #136 "Jollyday for Android"
Hi,
Is there a possibility to use this library in android projects?

[2020-03-03 20:10] svendiedrichsen commented on #136
@lucasrafagnin Not in its current form. It relies heavily on JAXB which is not avalable on Android afaik.

[2020-04-13 01:39] CHTHSCH opened #137 "Missing entries in Swiss XML file"
Whit_Sunday, Whit_Monday and Easter_Monday are missing in the xml file for Switzerland.

[https://github.com/svendiedrichsen/jollyday/blob/master/src/main/resources/holidays/Holidays_ch.xml](url)

[2020-05-18 12:45] jurajw opened #138 "Whit Monday reported twice for Belgium"
Hi,

observed that following:

HolidayManager hm = HolidayManager.getInstance(ManagerParameters.create(HolidayCalendar.BELGIUM));

hm.getHolidays(2020).stream()
 .sorted(Comparator.comparing(Holiday::getType).thenComparing(Comparator.naturalOrder()))
 .map(h -> h.getType().isOfficialHoliday() ? h.toString() : "(Unofficial) " + h)
 .forEach(System.out::println);

Prints out 2020-06-01 twice:
    	2

[2020-06-03 12:58] brunoais opened #139 "How to programatically identify holidays?"
For my use cases, I want to know, for the country and city it is about, what holiday it is.

For example, I may want to know:

1. When is Pentecost?
2. When is the city-specific holiday?

All that appears to be the output of the API is a `Holiday` object instance that only has a date and a specifier text which may or may not be the holiday I'm looking for.

Help please.

[2020-06-04 15:58] svendiedrichsen commented on #139
Hi @brunoais ,

you can use the _propertiesKey_ as an identifier of the holiday if you have to distinguish the holidays. It is rather a key for the description of the holiday but there if no such thing as an id otherwise.

But if you find the API insufficient for your purposes please feel free to propose a solution by PR.

Cheers
Sven

[2020-06-04 17:07] svendiedrichsen commented on #133
@xHoang According to Wikipedia the Marine/Navy Day was held from 1996 to 2002 on the 20 of July. From 2003 onwards it was held on the 3rd monday in july. The holidays file already reflects this.

[2020-06-04 17:10] #133 closed

[2020-06-04 17:11] #131 closed

[2020-06-04 18:45] CHTHSCH commented on #137
Thanks for responding. My source is this: http://www.feiertage-schweiz.ch/

[2020-06-04 18:59] CHTHSCH commented on #137
And the official: https://www.bj.admin.ch/dam/data/bj/publiservice/service/zivilprozessrecht/kant-feiertage.pdf

Sundays, like Easter Sunday, Whit Sunday not listed because they are off anyway.

[2020-06-05 17:47] brunoais commented on #139
OK Thank you.

[2020-06-05 17:47] #139 closed

[2020-06-06 14:43] #137 closed

[2020-06-07 08:25] #132 closed

[2020-07-05 23:11] #136 closed

[2020-07-27 11:53] derTobsch commented on #72
Hey @svendiedrichsen, thanks for your work on JollyDay!
What is the plan to release 0.6 versions in the future? Is that going to happen? :)

[2020-11-13 19:09] dusiema opened #146 "Ever considered to add school vacations?"
Hey @svendiedrichsen,
Thank you for your work on this lib and open sourcing it.

Have you ever considered to add school vacations to this lib?
Even if you don't want to do it would you be open to accept pull-requests to this?
I am not saying I will do it right away - I was just curious. :-)

(Sorry if miss-used an issue to ask this question.)

[2021-03-22 15:12] alexoooo opened #148 "Jollyday fails with Java 16"
Jollyday uses JAXB to read the configuration XML, this results in illegal access violations.
In Java 16 some of the illegal access violations that used to be flagged as warnings has been escalated to errors.

I was able to get around the issue using XStream instead of JAXB, first exporting the config using Java 15:
[code]

Then replace the contents of Holidays_<x>.xml with the XStream format, and

[2021-03-25 22:09] rocketraman commented on #78
Another example is President's day which is All except DE, GA, IA, IN, KS, KY, LA, NC, NM, RI, WI according to https://www.timeanddate.com/holidays/us/. Easier to define it once in the parent and remove it from the exceptions than define it in every state that observes it.

[2021-04-07 14:19] grexe commented on #146
on a related note, and to make this a full issue, so @dusiema need not worry:), 15. November is only a school holiday in Vienna, Austria, but not an official holiday:
https://github.com/svendiedrichsen/jollyday/blob/master/src/main/resources/holidays/Holidays_at.xml#L66

[2021-04-07 15:52] dusiema commented on #146
I wonder if jollyday is still alive?

[2021-05-18 13:16] alexoooo opened #149 "Victoria Day has wrong definition"
In Holidays_ca.xml, the VICTORIA_DAY is defined incorrectly as Monday before May 24.
It should actually be the Monday before *May 25*:
https://en.wikipedia.org/wiki/Victoria_Day

[2021-06-07 11:32] fanste commented on #148
I'm able to run jollyday on JDK 16 and JAXB as long as a JAXB implementation is available on the classpath. In my case I used the newer implementation from Jakarta (see https://eclipse-ee4j.github.io/jaxb-ri/)

[code]
The Jakarta compatible jollday artifact is produced by a fixed `pom.xml` which could be found in the pull request #150.

But it should also work with jaxb-impl version 2.x which stil

[2021-06-15 17:26] asbachb commented on #72
Not 100% related: But I wonder if this project still wants to support java 8. Since now we've the situation that there's a recent version shipping jaxb which might cause some problems when having a non standard classloader (like eclipse + tomcat).

I wonder if it would make sense to provide a jdk8 classified release with that dependency stripped.

[2022-02-10 09:35] thomass4t commented on #72
Hello,
I would kindly ask about the status of jakarta-EE-Support in version 0.6. Is there any timeline / update available?

Oracle is ending support for JDK 8 next month. I think investing time in keeping jdk8 compatibility in new versions can be dropped. If necessary, bugfixes can be done in the 0.5 version.

Thanks! Thomas

[2022-04-21 20:07] kevintr opened #160 "Junit Vulnerability"
Hi,

The junit's version in pom.xml is affeted by vulnerability like described in the follow link: https://mvnrepository.com/artifact/de.jollyday/jollyday/0.5.10.
I see that it 's a vulnerability only in test scope, so when i made a build for production environment I think that there would be no problem.
But do you already known when you will release a new stable version of jollyday with an junit

[2022-05-11 08:13] mohamead opened #161 "Test's are failing when build jollyday with mvn"
Hi,

When running **mvn clean install** multiple test(s) are failing:

![Test](https://user-images.githubusercontent.com/8614263/167801506-eb25252f-e780-4cae-abe0-46e1a46b938c.PNG)

[2022-05-18 22:52] #161 closed

[2022-05-20 08:28] derTobsch commented on #72
Hey there. We released our first release of the focus-shift jollyday library. Happy to see something growing again. Take a look at https://github.com/focus-shift/jollyday/releases/tag/v0.6.0

[2022-05-22 16:35] HoffmannTom commented on #72
@derTobsch
Thanks for creating a new version of jollyday!
Is there a plan to reunite this project and your fork in future or will they stay separate?

[2022-05-22 17:22] derTobsch commented on #72
I wrote some emails to Sven but got no response. So I think it will be a new library under Focus-Shift.

[2022-06-07 06:59] liran-lili opened #163 "Can't compile with Java17"
XMLUtil is using JAXContext, which is not part of Java17 anymore. it seems like the only place actually needing this is XMLUtil, but which can be plugged-in, but it also contains some non-XML related methods (getMonth, getWeekday). It seems like master is broken - I couldn't create a PR to fix it myself.

[2022-06-07 07:03] derTobsch commented on #163
If you need java 17 than you could try https://github.com/focus-shift/jollyday it is based on java 11 and the builds are running up to 17.

[2022-07-05 15:49] ben-manes opened #164 "Inclusive RelativeToFixed holiday"
I have the following configuration,
[code]

In 2021 the 4th was a Sunday so I expected the 5th to be a holiday. This worked as expected.
In 2022 the 4th was a Monday so I expected the 4th to be a holiday. Instead, it said the 11th is.

The `RelativeToFixedParser` has the comment `don't test start day`. Can this be an option or how should I have configured this?

[2022-07-05 17:29] ben-manes commented on #164
It seems my rule might need to follow this description (from Google'ing)

[2022-08-17 18:27] keyroii commented on #116
Adding "back"
[code]
Seems to have fixed it for me

[2022-08-25 16:55] AngledLuffa opened #167 "readme maven link out of date"
It appears 5.10 is available on maven, but README.md still has xml for connecting to 5.8 on maven